voxel_addel/cmake-4.0.1/
voxel_addel/raylib/
voxel_addel/cmake-4.0.1.tar.gz

gen_flame.sh
out.perf
perf.data
perf.data.old
profile.sh
counts.txt
Flamegraph/
fps_ray.log
.build/*
!.build/bin/
.build/bin/*
!.build/bin/fps_ray.exe
!.build/bin/fps_ray_cpu.exe
!.build/bin/fps_ray_gpu.exe
artifacts/
debug-artifacts/
